@import "sizes";
@import "colors";

.wrapper {
	max-width: 960px;
	min-width: $iphone_width;
	width: 100%;
	margin: 0 auto;
	padding: 0 $one_unit;
}

header {

	text-align: center;
	overflow: hidden;
	padding: $one_unit*1.5 $one_unit;

	@include background-image(linear-gradient(top, #EBEBEB, white));

	nav {
		text-align: right;
		a {
			margin-right: $one_unit;
		}
	}

}

footer {
	margin: 4em 0;
	text-align: center;
}