@import "compass";
@import "../colors";
@import "../sizes";

#content {

	h4 {
		margin-top: $one_unit*2;
		line-height: 1.2;
		&.nopad {
			margin: 0;
		}
	}

	ul {
		padding: $one_unit 0 0 ($one_unit * 2);
		li {
			line-height: 1.4;
		}
	}

}