@import "compass";
@import "../colors";
@import "../sizes";

#content {

	text-align: center;

	.node {
		display: inline-block;
		vertical-align: top;
		min-width: $iphone_width - (2*$one_unit);
		width: 33%;
		padding-bottom: $one_unit*1.5;
		margin-top: $one_unit
	}

	.copy {
		img {
			width: 128px;
		}
	}

	.details, .worker {
		text-align: left;
		padding: $one_unit;
		h3 {
			line-height: 1.4;
		}
	}

}