@import "compass";
@import "../colors";
@import "../sizes";

#content {

	table {
		thead {
			th {
				font-size: 1.4em;
				line-height: 1.6;
				border-bottom: solid 1px $tertiary-color;
			}
		}
		tbody {
			th {
				text-align: right;
			}
			td, th {
				padding: $one_unit/2;
				width: 50%;
			}
			td {
				border-left: solid 1px $tertiary-color;
			}
		}
	}

	.node {
		display: inline-block;
		width: 33%;
		vertical-align: top;
		min-width: $iphone_width - (2*$one_unit);
		padding-bottom: $one_unit*1.5;
		margin-top: $one_unit;
	}

}